@model List<Product>
@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<h1>
		Danh Mục Sản Phẩm
	</h1>
</div>
<div class="row products">
	<partial name="_ProductPartial" />
</div>
<div class="text-center">
	<button id="btnLoadMore" class="btn btn-primary">Load More</button>
</div>
<!--viet script de su dung ajax voi thu vien JQuery --->
@section Scripts {
	<script>
		let currentPage = 2;
		$("#btnLoadMore").click(function () {
		//dung ham ajax cua JQuery
		$.ajax({
		url: "/Home/LoadMore",
		data: { page: currentPage },
		success: function (data) {
		if ($.trim(data) === '')
		$("#btnLoadMore").hide();

		else
		$(".products").append(data);
		}
		});
		currentPage++;
		});
	</script>
}